<%- include('partials/header') %>

      <h1>Welcome to DevBlog</h1>
      <p>This page will soon display a beautiful feed of dynamic blog stories. Stay tuned!</p>

      <%- include('partials/footer') %>